body{

background-image:
linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.65)
),
url("../assets/background.png");

background-position:center;
background-size:cover;
background-repeat:no-repeat;
background-attachment:fixed;

min-height:100vh;

color:white;

}

.creators-page{

padding-top:150px;

text-align:center;

width:90%;

max-width:1400px;

margin:auto;

}

.creators-page h1{

font-size:70px;

color:#00aaff;

margin-bottom:50px;

text-shadow:
0 0 15px #00aaff,
0 0 35px rgba(0,170,255,.5);

}

.creator-card{

width:450px;

max-width:95%;

margin:auto;

padding:40px;

background:rgba(0,0,0,.55);

border:1px solid rgba(0,170,255,.25);

border-radius:20px;

backdrop-filter:blur(10px);

}

.creator-card img{

width:150px;

height:150px;

border-radius:50%;

margin-bottom:20px;

}

.creator-card h2{

font-size:35px;

margin-bottom:15px;

}

.creator-card p{

font-size:18px;

color:#d5d5d5;

}